@charset "UTF-8";

body, ul, li{
	padding:0;
	margin:0;
	list-style-type:none;
}

a:link, a:visited, a:hover{
	text-decoration:none;
	color:yellow;
}

.container, .menu{
	width:1000px;
	margin:0 auto;
}


header{
	background:black;
	color:white;
}
.logo{
	text-align:center;
	font-size:3em;
	padding:50px 0;
}
.menu>ul{
	overflow:auto;
}
.menu li{
	float:left;
	text-align:center;
	font-size:1.2em;
	width:150px;
	height:40px;
	line-height:40px;
}


footer{
	background:#ddd;
	padding:30px 0;
	text-align:center;	
	margin-top:50px;	
}